T1_CLIENT_ID=your_client_id
T1_CLIENT_SECRET=your_client_secret
T1_USERNAME=your_username
T1_PASSWORD=your_password
T1_BASE_URL=https://api.t1envios.com
T1_AUTH_URL=https://keycloak.dev.plataformat1.com
T1_SHOP_ID=xxxxxxx
T1_COMERCE_ID=xxxx
T1_TIMEOUT=30.0
