.env
.venv/
__pycache__/
*.pyc
*.egg-info/
dist/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
~/.t1envios/
.pytest_cache/
my-cli-commands.md
.venv
.vscode
opencode.json

# AI
CLAUDE.md
.claude/
AGENTS.md
